
@{
    ViewData["Title"] = "Inicio";
}

<h1>Pagina Principal</h1>

<div id="divTabla">

</div>
<script src="~/lib/bootstrap/dist/js/generic.js"></script>
<script src="~/lib/bootstrap/dist/js/tipomedicamento.js"></script>
